.nav{
  display: flex;
}

.mobNav{
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #0d0d2b;
  z-index: 100;
}
.desNav{
  display: flex;
}
@media screen and (max-width:1000px) {
  .desNav{
    display: none;
  }
}
.list {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.mobNav .list{
  display: block;
  text-align: center;
  margin: 15rem auto 5rem;
}
.mobNav .list li{
  margin: 3rem auto;
}
.list a {
  margin: 0 2rem;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.list a:hover {
  border-bottom: 1px solid #3671E9;
  cursor: pointer;
}
.btn{
  display: flex;
  
}
.mobNav .btn{
  width: 25%;
  margin: 3rem auto;
  font-size: 2.5rem;
}
@media screen and (max-width:650px) {
  .mobNav .btn{
  width: 40%;
  }
}
.btnLog {
  background: none;
  border: none;
  font-weight: 500;
  padding: 0 2rem;
  margin: 0 2rem;
  color: white;
  border-right: 1px solid rgb(242, 242, 242, 0.3);
  cursor: pointer;
}

.btnReg {
  background-color: #3671E9;
  border: none;
  color: white;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 20px;
  cursor: pointer;
}
.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  margin-top: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
}
.mobNav .hamburger{
  display: block;
}