.footer{
  background-color: #0d0d2b;
  height: 40rem;
  padding: 5rem 10rem;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4,1fr);
}
@media screen and (max-width:1300px) {
  .footer {
    padding: 5rem 6rem;
  }
}

.footer h5{
  font-weight: 500;
  font-size: 2rem;
}
.footer ul{
  margin-top: 2rem;
}
.footer li{
  list-style-type: none;
  color: #f2f2f2;
  margin: 1rem 0;
}
.payment{
  margin-top: 2rem;
}
.payment img{
  width: 25%;
  margin-right: 1rem;
}
@media screen and (max-width:1000px) {
  .footer {
    height: 120rem;
    display: block;
    text-align: center;
  }
  .footer img{
    margin: 3rem 0;
  }
  .footer div{
    margin: 3rem 0;
  }
  .footer li{
    margin: 3rem 0;
  }
  .payment img{
    margin-right: 2rem;
  }
}