@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*, *::before, *::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width:1200px) {
  html{
    font-size: 56.3%;
  }
}
@media screen and (max-width:850px) {
  html {
    font-size: 53%;
  }
}
@media screen and (max-width:500px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  color: white;
}